@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Your custom base styles... */
  :root {
    --text-color: #333;
    --primary: #333;
    --secondary: #f3f3f3;
    --tertiary: #f9f9f9;
    --navbar-hover: #532424;
    --navbar-active: #f3f3f3;
    --navbar-bg: #333;
    --navbar-text: #f3f3f3;
    --navbar-gradient: linear-gradient(90deg, #333 0%, #333 50%, #333 100%);
  }
}
